<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summ.mapper2.NannyWorkTimeMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, mon_day AS monDay, mon_night AS monNight, tue_day AS tueDay, tue_night AS tueNight, wed_day AS wedDay, wed_night AS wedNight, thu_day AS thuDay, thu_night AS thuNight, fri_day AS friDay, fri_night AS friNight, sat_day AS satDay, sat_night AS satNight, sun_day AS sunDay, sun_night AS sunNight, nanny_id AS nannyId, isDel, createtime, modifytime, createid, modifyid, time_backup AS timeBackup
	</sql>

</mapper>