<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summ.mapper.AdminLoginMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, admin_account AS adminAccount, admin_password AS adminPassword, createtime, modifytime, isDel, admin_id AS adminId, createid, modifyid
	</sql>

</mapper>