<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summ.mapper.CustomerHouseMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		house_id AS houseId, customer_id AS customerId, house_address AS houseAddress, room_type AS roomType, house_area AS houseArea, createid, modifyid, createtime, modifytime, isDel, longitude, latitude
	</sql>

</mapper>