<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summ.mapper.JCustomerStatmentMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		 statmentCustomer, customerId, chargeDate, statmentCustomerType, chargeMoney, chargeWay, adminId, terminal, status, balance, serialNumber, remark, card, bank
	</sql>

    <select id="getCount" resultType="java.lang.Integer" parameterType="com.summ.model.request.CustomerStatmentReq">
        SELECT
        COUNT(*)
        FROM j_customer_statment
        WHERE 1=1
        <if test="0 != customerStatmentReq.customerId">
            AND customerId = #{customerStatmentReq.customerId}
        </if>
        <if test="0 != customerStatmentReq.statmentCustomerType">
            AND statmentCustomerType = #{customerStatmentReq.statmentCustomerType}
        </if>
    </select>

    <select id="getStatmentList" parameterType="com.summ.model.request.CustomerStatmentReq"
            resultType="com.summ.model.response.CustomerStatmentRes">
        SELECT a.*,d2.INFO AS statmentCustomerTypeInfo,d3.INFO AS chargeWayInfo,d4.INFO AS
        terminalInfo,d5.INFO AS statusInfo,d6.customerName AS customerName,d7.adminName AS adminName
        FROM j_customer_statment a
        LEFT JOIN j_dict_info d2 ON d2.ID = a.statmentCustomerType
        LEFT JOIN j_dict_info d3 ON d3.ID = a.chargeWay
        LEFT JOIN j_dict_info d4 ON d4.ID = a.terminal
        LEFT JOIN j_dict_info d5 ON d5.ID = a.status
        LEFT JOIN j_customer d6 ON d6.customerId = a.customerId
        LEFT JOIN j_admin d7 ON d7.adminId = a.adminId
        WHERE 1=1
        <if test="0 != customerStatmentReq.customerId">
            AND a.customerId = #{customerStatmentReq.customerId}
        </if>
        <if test="0 != customerStatmentReq.statmentCustomerType">
            AND a.statmentCustomerType = #{customerStatmentReq.statmentCustomerType}
        </if>
        ORDER BY a.chargeDate DESC
        LIMIT #{customerStatmentReq.page},#{customerStatmentReq.size}
    </select>

</mapper>