<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summ.mapper.NannyRPMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		rp_id AS rpId, rp_type AS rpType, rp_money AS rpMoney, createid, createtime, modifyid, modifytime, isDel, rp_backup AS rpBackup, rp_nanny_id AS rpNannyId
	</sql>

</mapper>