<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summ.mapper.PriceMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		price_id AS priceId, order_type AS orderType, service_category_one AS serviceCategoryOne, service_category_two AS serviceCategoryTwo, isDel, category_one_name AS categoryOneName, category_two_name AS categoryTwoName, cost, price_money AS priceMoney, price_state AS priceState, modifytime, modifyid, nanny_hour AS nannyHour, service_type AS serviceType, min_price AS minPrice, max_price AS maxPrice
	</sql>

</mapper>