<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summ.mapper.PushMsgMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		msg_id AS msgId, createtime, modifytime, isDel, customer_id AS customerId, msg_content AS msgContent, msg_status AS msgStatus, shop_id AS shopId, msg_type AS msgType, nanny_id AS nannyId, msg_html AS msgHtml
	</sql>

</mapper>